@import "tailwindcss";

@theme {
  --color-brand: #d1ff4d;
  --color-dark: #0a0a0b;
  --font-ubuntu: "Ubuntu", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-ubuntu);
    background-color: var(--color-dark);
    color: white;
  }
}

@layer components {
  .container {
    @apply px-4 sm:px-6 lg:px-8 xl:px-28 w-full mx-auto;
  }
}
